header {
    background-color: navy;
    color: white;
  
}

.wrap {
    width: 700px;
    margin: 0 auto;
    padding: 25px 0;
}

h2 {
    color: grey;
}

img {
    width: 500px;
}

body {
    background-image: url("annie-spratt-unsplash.jpg");
    background-size: 150%;
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
}

a {
    color: yellow;
}

a:hover {
    text-decoration: none;
}

.Work {
    font-style: italic;
}

#hard {
    font-style: italic;
    color: white;
}