header {
    background-color: SteelBlue;
    color: white;
   overflow: hidden;
   text-align: left;
  
  
}

header img {
    float: left;
    width: 250px;
    padding: 15px;
}


.wrap {
    max-width: 800px;
    width: 85%;
    margin: auto;
  
  
    

}
.Aboutt {
    text-align: center;
    background-color: SteelBlue;
    padding: auto;
    border: 0.5px solid white;
    background-image: url(phone.jpeg);
    background-size: cover;
   padding-bottom: 100px;
  
}


h2 {
    color: black;
    font-family: 'Sriracha', cursive;
    font-size: 30px;
}

h1 {
    color: MidnightBlue;
    font-family: 'Sriracha', cursive;

}

h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    
}

h3 + p {
    font-style: italic;
}

h3 ~ p {
    margin: 0;
}

img {
    width: 500px;
}

p {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
  
 
}

body {
    background-color: Azure;
    background-size: 150%;
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
   /* text-align: center; */
    line-height: 1.5;
   
}


a {
    color: black;
    text-decoration: inherit;
}

a:hover {
    text-decoration: none;
    color: yellowgreen;
}

.Work {
    font-style: italic;
   
}

#hard {
    font-style: italic;
    color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 29px;
}

nav {
    background-color: black;
 
}



nav ul {                                   
    text-align: center;              
    list-style: none;   
    padding-left: 0%;
    margin: 0%;

               
         }

 
nav ul li {                                 
    font: bold 25px 'Amatic SC', cursive; 
    display: inline-block;            
     position: relative;                
     padding: 15px 20px;           
    background: black;              
    cursor: pointer;  
    width: 15%;    
              
               }

 nav ul li:hover {                        
        
    background: navy;             
    color: #fff;                        
          }

nav ul li ul {                            
        
    padding: 0;                       
    position: absolute;             
    top: 48px;                        
    left: -10000px;                 
    width: 1255px;                  
          }
                            
nav ul li ul li {                        
                                    
    background: none;           
    display: block;                 
    color: #fff;                     
            }
            
                                    
nav ul li ul li:hover { 
    
   color: black;

 } 
                            
nav ul li:hover ul {                 
                            
    display: block;                
    left :0px;                        
        }

nav a {
    color: inherit;
    text-decoration: inherit; 
          }

.About {
    background-color: skyblue;
    display: grid;
    grid-template-columns: 1fr 2fr;
   
    border: 0.5px solid white;
   
}
 .footer {
     list-style-type: none;
     padding: 0;
     display: flex;
     justify-content: center;
     width: 100%;
 }

 .footer a {
     padding: 15px;
     display: inline-block;
  
 }
